.services{
    padding: 3.5% 0;
    .services__title{
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        @include Text-Style-HeadingTwo;
        text-align: center;
       border-bottom: 3px solid $orange;
       margin-bottom: 4.5%;
       @include media-custom(650px){
        font-size: 1.5rem;
    }
    }
    .services__tabs{
        display: flex;
        justify-content: center;
        @include media-custom(955px){
            flex-direction: column;
        }
    }
    .services__tabs-buttons{
        width: 33.5%;
        @include media-custom(955px){
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .services__tabs-button{
            width: 100%;
            height: 177px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 4px solid $orange;
            margin-bottom: 14px;
            cursor: pointer;
            @include media-custom(955px){
                max-width:45%;
                margin-right: 14px;
            }
            @include media-custom(450px){
                max-width:90%;
                height: 90px;
                margin: 0 auto 10px;
            }
            p{
                text-align: center;
                max-width: 190px;
                @include Text-Style-HeadingThree;
                z-index: 3;
                transition: 0.6s ease-in;
                @include media-custom(650px){
                    font-size: 1.1rem;
                }
            }
            img{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            svg{
                position: absolute;
                bottom: 8%;
                left: 5%;
                z-index: 3;
                path{
                    transition: 0.6s ease-in;
                }
              
            }
        }
        .services__tabs-button:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:$darkGrey;
            opacity: 0.85;
            z-index: 2;
            transition: 0.6s ease-in;
        }
        .services__tabs-button:hover{
            p{
                color:$orange;
                transform: scale(1.05);
            }
            svg{
                path{
                    fill:$orange;
                }
            }
        }
        .services__tabs-button:hover:before{
            background-color:$black;
        }
    }
    .services__tabs-display{
        position:relative;
        width: 50%;
        height: 750px;
        border:4px solid $orange;
        margin-left: 20px;
        cursor: pointer;
        @include media-custom(955px){
            width:100%;
            height: 650px;
            margin-left: 0;
        }
        @include media-custom(450px){
            height: 690px;
        }
        .services__tabs-item{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            opacity: 0;
            transition: 0.9s ease-out;
            img{
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                z-index: 1;
            }
            .services__tabs-title{
                position: relative;
                padding: 8% 0;
                text-align: center;
                @include Text-Style-Text;
                font-size: 1.5rem;
                color: $orange;
                z-index: 3;
                @include media-custom(955px){
                    padding: 4% 0;
                }
            }
            .services__tabs-list{
                position: relative;
                padding-left: 13%;
                @include Text-Style-Text;
                font-size: 1.125rem;
                color: $white;
                text-align: left;
                z-index: 3;
                @include media-custom(955px){
                    padding-left: 6%;
                }
                @include media-custom(650px){
                    font-size: 1rem;
                }
                li{
                    margin-bottom: 15px;
                    @include media-custom(400px){
                        margin-bottom: 10px;

                    }
                }
            }
        }
        .services__tabs-item::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:$darkGrey;
            opacity: 0.85;
            z-index: 2;
            transition: 0.6s ease-in;
        }
        .services__tabs-item.active{
            opacity: 1;
        }
    }
    .services__text{
        margin-top: 6.25%;
        @include Text-Style-HeadingThree;
        @include media-custom(650px){
            font-size: 1rem;
            line-height: 1.5;
            text-align: center;
        }
    }
}
