section.services
    .container 
        h2.services__title  НАШИ УСЛУГИ
        .services__tabs 
            .services__tabs-buttons 
                .services__tabs-button Отделочные работы
                .services__tabs-button Строительство домов
                .services__tabs-button Электрика
                .services__tabs-button Сантехника
            .services__tabs-display
                .services__tabs-item 
                    .services__tabs-title Сантехника
                        ul.services__tabs-list 
                            li Перенос и установка счетчиков
                            li Монтаж и ремонт водопровода
                            li Монтаж отопления
                            li Монтаж канализации
                            li Замена и перенос  полотенцесушителя
                            li Установка кранов на полотенцесушитель
                            li Установка инсталляций
                            li Установка всех видов сантех оборудования
                            li Замена батарей отопления
                            li Замена и демонтаж радиатора отопления
                            li Замена труб в ванной и туалете
                            li Замена труб в ванной
                            li Замена труб на пластиковые
                            li Монтаж трубопроводов ПВХ
                            li Замена и демонтаж радиатора отопления
        p.services__text Для многих ремонт — это что-то вроде стихийного бедствия, но чем тщательнее вы его спланируете, тем проще будет его пережить. А уютная, привлекательная и чистая квартира – это мечта любого человека.
                





