.galery{
    padding: 5.5% 0 7% 0;
    .galery__title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 7.5%;
        @include Text-Style-HeadingTwo;
        position: relative;
        z-index: 2;
        @include media-custom(650px){
            font-size: 1.5rem;
            margin-bottom: 9%;
        }
        @include media-custom(450px){
            padding-bottom: 5%;
            border-bottom:3px solid $orange;
            margin-bottom: 10%;
        }
       span{
           width: 200px;
           border-bottom: 3px solid $orange;
           @include media-custom(900px){
            width: 20%;
        }
            @include media-custom(450px){
            width: 0;
        }
       }
    }
    .galery__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .galery__item{
            position: relative;   
           width: 350px;
           height: 350px;
           margin: 0;
           margin-left: 15px;
           margin-bottom: 6.6%;
           border: 3px solid $orange;
           border-radius:10px;
           cursor: pointer;
           @include media-custom(880px){
            width: 250px;
           height: 250px;
        }

         img{
            display: block;
            position: absolute;
            bottom:24px;
            right:37px;
            max-width: 100%;
            border-radius:10px;
            @include media-custom(1000px){
                bottom:10px;
                right:15px;
            }
            @include media-custom(600px){
                max-width: 90%;
                bottom:12.5px;
                right:12.5px;
            }
         }
         figcaption{
             display: block;
             position: absolute;
             bottom:24px;
             right:37px;
             width: 100%;
             padding:20px 0;
             border-radius:0 0 10px 10px;
             @include Text-Style-HeadingOne;
             text-align: center;
             font-size: 1.5rem;
             background:$darkGrey;
             opacity: 0.75;
             transition: 0.4s ease-in;
             @include media-custom(1000px){
                bottom:10px;
                right:15px;
            }
             @include media-custom(880px){
                font-size: 1rem;
                padding:10px 0;
             }
             @include media-custom(600px){
                max-width: 90%;
                bottom:12.5px;
                right:12.5px;
             }
         }
        }
        .galery__item:hover figcaption{
            background:$black;
         }
    }
}