section.galery
    .container 
        h2.galery__title
            span 
            |ГАЛЕРЕЯ РАБОТ
            span
        .galery__container 
            figure.galery__item
                img.galery__item-img(src="img/tile.jpg", alt="ПЛИТКА", data-galery="roof1,roof2,roof3,roof4,roof5")
                figcaption.galery__item-text ПЛИТКА
            figure.galery__item
                img.galery__item-img(src="img/Masonry.jpg", alt="КЛАДКА", data-galery="roof1,roof2,roof3,roof4")
                figcaption.galery__item-text КЛАДКА
            figure.galery__item
                img.galery__item-img(src="img/FINISHING.jpg", alt="ОТДЕЛКА", data-galery="roof1,roof2,roof3")
                figcaption.galery__item-text ОТДЕЛКА
            figure.galery__item
                img.galery__item-img(src="img/ROOF.jpg", alt="КРОВЛЯ", data-galery="roof1,roof2,roof3,roof4,roof5,roof6")
                figcaption.galery__item-text КРОВЛЯ
            figure.galery__item
                img.galery__item-img(src="img/SANITARY.jpg", alt="САНТЕХНИКА", data-galery="roof1,roof2,roof3,roof4,roof5")
                figcaption.galery__item-text САНТЕХНИКА
            figure.galery__item
                img.galery__item-img(src="img/ELECTRIC.jpg", alt="ЭЛЕКТРИКА", data-galery="roof1,roof2,roof3,roof4")
                figcaption.galery__item-text ЭЛЕКТРИКА

                

            