section.galery
    .container 
        h2.galery__title
            span 
            |ГАЛЕРЕЯ РАБОТ
            span
        .galery__container 
            figure.galery__item
                img.galery__item-img(src="img/tile.jpg", alt="плитка")
                figcaption.galery__item-text ПЛИТКА
            figure.galery__item
                img.galery__item-img(src="img/Masonry.jpg", alt="КЛАДКА")
                figcaption.galery__item-text КЛАДКА
            figure.galery__item
                img.galery__item-img(src="img/FINISHING.jpg", alt="ОТДЕЛКА")
                figcaption.galery__item-text ОТДЕЛКА
            figure.galery__item
                img.galery__item-img(src="img/ROOF.jpg", alt="КРОВЛЯ")
                figcaption.galery__item-text КРОВЛЯ
            figure.galery__item
                img.galery__item-img(src="img/SANITARY.jpg", alt="САНТЕХНИКА")
                figcaption.galery__item-text САНТЕХНИКА
            figure.galery__item
                img.galery__item-img(src="img/ELECTRIC.jpg", alt="ЭЛЕКТРИКА")
                figcaption.galery__item-text ЭЛЕКТРИКА

                

            