section.building
    .container 
        .building__text-container
            h1.building__title  Строительство <br> и ремонт в Lorem
            p.building__text Нaдежное будущее строим вместе  
            a.building__link.button(href="#") Получить консультацию 
        .building__slider-container
             .building__slider-display
                .building__slider-prev
                    svg(width='31' height='59' viewBox='0 0 31 59' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M29.7461 1L1 33.4185L29.7461 58.4923' stroke='#FF7A00')
                img.building__slider-item.active(src="img/sliderImg1.jpg", alt="Пример ремонта")
                img.building__slider-item(src="img/sliderImg2.jpg", alt="Пример ремонта")
                img.building__slider-item(src="img/sliderImg3.jpg", alt="Пример ремонта")
                img.building__slider-item(src="img/sliderImg4.jpg", alt="Пример ремонта")
                img.building__slider-item(src="img/sliderImg5.jpg", alt="Пример ремонта")
                .building__slider-next
                    svg(width='31' height='59' viewBox='0 0 31 59' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1.25387 58.4922L30 26.0736L1.25387 0.999928' stroke='#FF7A00')
                .building__slider-points
                    .building__slider-point.active
                    .building__slider-point
                    .building__slider-point
                    .building__slider-point
                    .building__slider-point 
