.contact{
    padding-top: 50px;
    .contact__title{
        @include Text-Style-HeadingTwo;
        text-align: center;
        margin-bottom: 60px;
    }
    .contact__content{
        background-image: url(../img/dreams_bg.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        position: relative;
        .container{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            .contact__content-image{
                width: 678px;
                height: 704px;
                position: absolute;
                bottom:0;
                left:0;
                z-index:3;
            }
            .contact__content-form{
                margin: 70px 100px 148px auto;
            }
        }
        
    }
    .dark__filter::before{
        background-color: rgba(0, 0, 0, 0.65);
    }
}