.contact{
    padding-top: 3.5%;
    .contact__title{
        @include Text-Style-HeadingTwo;
        text-align: center;
        margin-bottom: 4%;
        @include media-custom(700px){
         font-size: 1.5rem;
     }
    }
    .contact__content{
        background-image: url(../img/dreams_bg.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        position: relative;
        .container{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            .contact__content-image{
                width:56.5%;
                position: absolute;
                bottom:-3px;
                left:0;
                z-index:3;
                @include media-custom(1200px){
                    left:-80px;
                }
                @include media-custom(800px){
                    display: none;
                }
            }
            .contact__content-form{
                margin: 5.8% 8.3% 12.3% auto;
                @include media-custom(1200px){
                    margin: 5.8% 0 12.3% auto;
                }
                @include media-custom(800px){
                    margin: 5.8% auto 12.3% ;
                }
            }
        }
        
    }
    .dark__filter::before{
        background-color: rgba(0, 0, 0, 0.65);
    }
}