section.price 
    .container 
        h2.price__title ПРАЙС-ЛИСТ НА УСЛУГИ
        .price__tabs-container 
            .price__tabs-buttons 
                .price__tabs-button Отделка
                .price__tabs-button Строительство
                .price__tabs-button Кровля
                .price__tabs-button Сантехника
                .price__tabs-button Электрика
            table.price__tabs-table 
                tr 
                    th Наименование работ
                    th Ед.измерения
                    th Цена от,  руб
                tr
                    td Штукатурка по маякам
                    td м²
                    td 10
                tr
                    td Установка и демонтаж маяка
                    td м²
                    td 2
                tr
                    td Штукатурка потолка по плоскости
                    td м²
                    td 5
                tr
                    td Монтаж армирующей сетки
                    td м²
                    td 2
                tr
                    td Монтаж ГКЛ (ровный)
                    td м²
                    td 10
                tr
                    td Монтаж конструкций ГКЛ короб
                    td м.пог
                    td 10
                tr
                    td Монтаж конструкций ГКЛ со скрытой подсветкой
                    td м.пог
                    td 12
                tr
                    td Монтаж криволинейного потолочного откоса
                    td м.пог
                    td 12
                tr
                    td Финишное шлифование и зачистка потолка
                    td м.пог
                    td 4
                tr
                    td Проклейка швов серпянкой	
                    td м.пог
                    td 2
                tr
                    td Монтаж подвесного потолка «Грильято»
                    td м²
                    td 3
                tr
                    td Монтаж подвесного потолка «Армстронг»
                    td м²
                    td 10
                tr
                    td Монтаж пластиковых панелей на потолке	
                    td м²
                    td 8
                tr
                    td Монтаж натяжного потолка (с материалом)	
                    td м²
                    td 10
                tr
                    td Поклейка декоративного багета (галтель)
                    td м.пог
                    td 16
                tr
                    td Подготовка конструкции короб ГКЛ к покраске
                    td м²
                    td 2
                tr
                    td Выравнивание балок одна плоскость	
                    td м.пог
                    td 44
                tr
                    td Установка перфорированного угла	
                    td м²
                    td 4
                tr
                    td Шлифовка
                    td м²
                    td 5
                tr
                    td Заделка стыков ГКЛ, проклейка ленты	
                    td м.пог
                    td 4
                tr
                    td Покраска потолка	
                    td м²
                    td 2
                tr
                    td Покраска конструкций ГКЛ
                    td м.пог
                    td 2
                tr
                    td Окраска , полиуретанового потолочного плинтуса
                    td м.пог
                    td 2
                tr
                    td Оклейка потолочного плинтуса пенопласт
                    td м.пог
                    td 2
                tr
                    td Грунтовка
                    td 
                    td 