.price{
    .price__title{
        @include Text-Style-HeadingTwo;
        text-align: center;
        margin-bottom: 70px;
    }
    .price__tabs-container{
        max-width: 1000px;
        margin: 0 auto;
        background-color: $grey;
        .price__tabs-buttons{
            display: flex;
            flex-wrap: wrap;
            cursor: pointer;
            @include media-custom(500px){
                position: sticky;
                top:0;
                z-index: 4;
                background: #3D3D3D;
            }
            .price__tabs-button{
                padding: 16px 0px;
                flex-grow: 1;
                min-width: 150px;
                border:6px solid $darkGrey;
                border-left: none;
                border-bottom:6px solid $orange;
                @include Text-Style-Menu;
                font-size: 1.25rem;
                text-align: center;
                transition: 0.4s ease-in;
                @include media-custom(950px){
                    border:4px solid $darkGrey;
                    margin: 1px;
                }
                @include media-custom(900px){
                    font-size: 1rem;
                }
            }
            .price__tabs-button:first-of-type{
                border-left: 6px solid $darkGrey;
            }
            .price__tabs-button:hover{
                background-color:$black;
                opacity: 0.6;
            }
            .price__tabs-button.clicked{
                border:6px solid $orange;
                border-bottom:none;
                @include media-custom(950px){
                    border:4px solid $orange;
                }
            }
        }
        .price__tabs-wraper{
            display: flex;
            overflow: hidden;
            width: 100%;
            padding: 5% 0;
            border: 6px solid $orange;
            border-top: none;
           cursor: pointer;
           @include media-custom(950px){
            border: 6px solid $orange;
           }
           @include media-custom(800px){
            border: 2px solid $orange;
           }
           .price__tabs-table{
            min-width: 100%;
            order: 2;
            table-layout: fixed;
            border-collapse: collapse;
            opacity: 0;
            transition: 0.9s ease-in-out;
           
            thead{
                th{
                    width: 20%;
                    padding:10px 0 15px 0;
                   border:1px solid $white;
                    text-align: center;
                    @include Text-Style-HeadingOne;
                    font-size: 1rem;
                    @include media-custom(900px){
                        width: 25%;
                        padding-left: 16px;
                        padding-right: 16px;
                    }
                    @include media-custom(500px){
                        width: 50%;
                        text-align: center;
                        margin-bottom: 20px;
                        float: left;
                    }
                }
                th:first-of-type{
                    width: 60%;
                    padding-left: 66px;
                    text-align: left;
                    @include media-custom(900px){
                        width: 50%;
                        padding-left: 16px;
                        padding-right: 16px;
                        margin-bottom: 0px;
                    }
                    @include media-custom(500px){
                        width: 100%;
                        text-align: center;
                        
                    }
                }
            }
            tbody{
                @include Text-Style-Paragraph;
                td{
                    padding: 10px 0 5px 0px;
                    border:1px solid $white;
                    text-align: center;
                    @include media-custom(500px){
                        border:1px solid $orange;
                      font-size: 1rem;
                    }
                }
                td:first-of-type{
                    padding-left: 46px;
                    text-align: left;
                    @include media-custom(900px){
                        padding-left: 16px;
                        padding-right: 16px;
                    }
                    @include media-custom(500px){
                        text-align: center;
                        border-bottom:none;
                        padding: 20px 0;
                    }
                }
                
            } 
            tr{
                @include media-custom(500px){
                  
                }
            }
            td{
                @include media-custom(500px){
                display: block;
                width: 50%;
                margin-bottom: 15px;
                float: left;
            }
            }
            td:first-of-type{
                @include media-custom(500px){
                 width: 100%;
                margin-bottom: 0px;
                text-align: center;
            }
            }
           }   
           .price__tabs-table.active{
               opacity: 1;
                order: 1;
           }
        }
    }
    .price__download{
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
        @include media-custom(800px){
            justify-content: center;
            padding-bottom: 40px;
        }
        .price__download-link{
           margin-right: 100px;
           @include media-custom(800px){
            margin-right: 0;
        }
        }
    }
}