// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
//Colors
$black: #0F0F0F;
$darkGrey: #1C1D1E;
$grey: #3D3D3D;
$orange: #FF7A00;
$white: #FFFFFF;