header.header
    .container
        ul.header__menu 
            li.header__menu-item 
                img.header__menu-logo(src="img/Logo.svg")
            li.header__menu-item 
                a(href="#") Портфолио
            li.header__menu-item 
                a(href="#") Услуги
            li.header__menu-item 
                a(href="#") Цены
            li.header__menu-item 
                a(href="#") Контакты
            li.header__menu-item 
                a(href="tel:+37500*******") +375 (00) 000-00-00
                a.header__menu-link(href="#", target="_blank", rel="noopener noreferrer")  Заказать звонок
        
        