header.header
    .container
        ul.header__menu 
            li.header__menu-item 
                img.header__menu-logo(src="img/Logo.svg")
            li.header__menu-item 
                a.link(href="#portfolio") Портфолио
            li.header__menu-item 
                a.link(href="#services") Услуги
            li.header__menu-item 
                a.link(href="#price") Цены
            li.header__menu-item 
                a.link(href="#contact") Контакты
            li.header__menu-item 
                a(href="tel:+37500*******") +375 (00) 000-00-00
                a.link.header__menu-link(href="#dreams")  Заказать звонок
        
        