footer.footer 
    .container 
        .footer__info
            ul.footer__info-contacts 
                li
                   a(href="tel:+37500*******") +375 (00) 000-00-00
                li
                    a(href=href="mailto:*******@gmail.com")  *******@gmail.com
            ul.footer__info-company 
                li ИП Lorem А.Н.
                li УНП 11111111111
                li Юридический адрес
        .footer__copyright 
            p  © LoremHouse 2021
