section.dreams#dreams 
        h2.dreams__title Давайте воплотим Ваши мечты  в реальность!
        .dreams__content.dark__filter
            .container 
                form.dreams__content-form.form
                        legend ЗАПОЛНИТЕ ФОРМУ
                        input(type="text", name="name", placeholder="Ваше имя", required)
                        input(type="tel", name="tel", placeholder="Номер телефона", required)
                        label(for="textarea") Опишите Вашу  заявку
                        textarea#textarea(name="textarea", cols="30", rows="10", required)
                        button.button(type="submit") Получить консультацию
                        label.container
                            input#checkbox(type="checkbox", name="checkbox", required)
                            |Принимаю условия Политики конфединциальности
                            span.checkmark       
                .dreams__content-image 
                    img(src="img/dreamsImage.png", alt="воплотим мечты") 