.dreams{
    padding: 1px 0 128px 0;
    .dreams__title{
       text-align: center;
       @include Text-Style-HeadingTwo;
       color:$orange;
       margin-bottom: 100px;
    }
    .dreams__content{
        background-image: url(../img/dreams_bg.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        position: relative;
        .container{
        display: flex;
        position: relative;
        .dreams__content-form{
            margin: 55px 0 88px 100px;
        }
    }
    
}
.dreams__content-image{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 608px;
height: 672px;
margin-left: 44px;
z-index: 3;
}
.dark__filter::before{
    background-color: rgba(0, 0, 0, 0.65);
}
}
 
  
  