.dreams{
    padding: 1px 0 8.9% 0;
    .dreams__title{
       text-align: center;
       @include Text-Style-HeadingTwo;
       color:$orange;
       margin-bottom: 6%;
       @include media-custom(700px){
           padding: 8px;
        font-size: 1.5rem;
    }
    }
    .dreams__content{
        background-image: url(../img/dreams_bg.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        position: relative;
        .container{
        display: flex;
        position: relative;
        .dreams__content-form{
            margin: 4.6% 0 7.3% 8.3%;
            @include media-custom(1200px){
                margin: 4.6% 0 7.3% 0;
            }
            @include media-custom(800px){
                margin: 4.6% auto;
            }
        }
    }
    
}
.dreams__content-image{
    position: absolute;
    bottom:-4px;
    right: 0;
    width: 50.6%;
    z-index: 3;
    @include media-custom(1200px){
        right: -80px;
    }
    @include media-custom(1000px){
        right: -40px;
    }
    @include media-custom(800px){
        display: none;
    }
}
.dark__filter::before{
    background-color: rgba(0, 0, 0, 0.65);
}
}
 
  
  