section.dreams 
    .container 
        h2.dreams__title Давайте воплотим Ваши мечты  в реальность!
        .dreams__content 
            form.dreams__content-form 
                fieldset 
                    legend ЗАПОЛНИТЕ ФОРМУ
                    input(type="text", name="", placeholder="Ваше имя")
                    input(type="tel", name="", placeholder="Номер телефона")
                    label(for="textarea") Опишите Вашу  заявку
                    textarea(name="textarea", cols="30", rows="10")
                    button(type="submit") Получить консультацию
                    input(type="radio", name="radio")
                    label(for="radio") Принимаю условия Политики конфединциальности 
            .dreams__content-image 
                img(src="img/dreamsImage.png", alt="воплотим мечты") 
