section.howWeWork.dark__filter 
    .container 
        h2.howWeWork__title 
            span
            |КАК МЫ РАБОТАЕМ
            span
        ol.howWeWork__list
            li
                span 01
                |Бесплатный выезд мастера на объект для оценки работы 
            li  
                span 02
                |Обсуждение работы с заказчиком 
            li 
                span 03
                |Оформление и подписание договора
            li 
                span 04
                |Выполнение работ в соответствии с пожеланиями заказчика
            li 
                span 05
                |Прием работы заказчиком  и окончательный расчет
           
