section.about.dark__filter 
    .container
        .about__list 
            h2.about__list-title О НАС
            ul.about__list-container
                    li.about__list-item Качественное проведение работ
                    li.about__list-item Обсуждение работы на каждом этапе
                    li.about__list-item Профессиональный инструмент
                    li.about__list-item Начинаем работу без аванса
                    li.about__list-item Доступные цены
        .about__spinner-container 
            .spinner__item 
                .spinner__text-top более
                .spinner__text-center 15
                .spinner__text-bottom лет успешной работы
            .spinner__item.visible
                .spinner__text-top более
                .spinner__text-center 1000
                .spinner__text-bottom м2 готовых объектов
            .spinner__item
                .spinner__text-top более
                .spinner__text-center 500
                .spinner__text-bottom довольных клиентов