
.about{
    padding: 2.4% 0 6% 0;
    background-image: url(../img/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        position: relative;
        z-index: 2;
        @include media-custom(550px){
            justify-content: center;
        }
        .about__list{
            width: 40%;
            @include media-custom(800px){
                width: 55%;
            }
            @include media-custom(550px){
                width: 90%;
            }

            .about__list-title{
                text-align: center;
                @include Text-Style-HeadingTwo;
                font-size: 4.375rem;
                color: $orange;
                margin-bottom: 8.3%;
                @include media-custom(800px){
                    font-size: 2.5rem;
                }
                @include media-custom(550px){
                    margin-bottom: 10px;
                }
            }
            .about__list-container{
                .about__list-item{
                    padding: 13px 0;
                    margin-bottom: 7px;
                    @include Text-Style-Menu;
                    font-size: 1.25rem;
                    border-bottom:3px solid $orange;
                    @include media-custom(800px){
                        font-size: 1rem;
                    }
                }
            }
        }
        .about__spinner-container{
            width: 320px;
            height: 335px;
            margin-top: 30px;
            margin-right: 14%;
            //border: 5px solid $orange;
            border-radius: 100%;
            position: relative;
          
            @include media-custom(1100px){
                margin-right:5%;
            }
            @include media-custom(800px){
                width: 200px;
                height: 210px;
                margin-right:0;
            }
            .about__spinner-circle{
                width: 100%;
                height: 100%;
                position: absolute;
                .about__spinner-inner{
                width: 100%;
                height: 100%;
                border-radius: 100%;
                border: 3px solid transparentize($orange, 0.3);
                border-right: none;
                border-top: none;
                background-clip: padding-box;
                box-shadow: inset 0px 0px 40px transparentize($orange, 0.85);
                }
            }
            .spinner__item{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            @include Text-Style-Text;
            opacity: 0;
            transition: 0.6s ease-in;
            @include media-custom(800px){
                font-size: 1rem;
              }
            }
            .spinner__item.visible{
                opacity: 1;
            }
            .spinner__text-top{
                margin-top: 25px;
                width: 100%;
               align-self:flex-start;
               @include media-custom(800px){
                margin-top: 15px;
              }
              
            }
            .spinner__text-center{
              @include  Text-Style-HeadingOne;
              font-size: 6.25rem;
              color: $orange;
              @include media-custom(800px){
                font-size: 3.25rem;
              }
            }
            .spinner__text-bottom{
                margin-bottom: 40px;
                @include media-custom(800px){
                    width: 80%;
                    margin-bottom: 10px;
                  }
            }
        }


    }
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@for $i from 0 through 2  {
  .about__spinner-circle:nth-of-type(#{$i}){
    transform: rotate($i * 70deg);
    .about__spinner-inner{
      animation: spin 3s infinite linear
  }  
}
}

